# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.css		text
*.dtd		text
*.htm		text
*.html		text
*.md		text
*.nvdl		text
*.pef		text
*.project	text
*.rng		text
*.sch		text
*.xpl		text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.jpg		binary
*.ai		binary