* text=auto !eol
examples/6-dot-chart.pef -text svneol=unset#application/octet-stream
examples/8-dot-chart.pef -text
examples/butterfly.pef -text svneol=unset#application/octet-stream
examples/extended.pef -text svneol=unset#application/octet-stream
examples/poem.pef -text svneol=unset#application/octet-stream
images/rendering.ai -text svneol=unset#application/octet-stream
images/rendering.jpg -text
validation/pef-2008-1.nvdl -text
validation/pef-2008-1.rng -text svneol=unset#application/octet-stream
validation/pef-2008-1.sch -text
validation/pef-2008-1.xpl -text
