* text=auto !eol
examples/butterfly.pef -text svneol=unset#application/octet-stream
examples/poem.pef -text svneol=unset#application/octet-stream
validation/pef-2008-1.rng -text svneol=unset#application/octet-stream
